<!doctype html>
<html>
<title>Map view page</title>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='googlemap.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<h1>TODO list</h1>
		<p>
			<ul>DONE:
			<li><a href="{{ url_for('.stage01') }}">stage 1 - not fully functioning anymore</a>
				<ul>
					<li>make frame works (flask to created dynamic link to js)</li>
					<li>send data from flask trough html to googlemaps.js !!!is it safe???</li>
					<li>show relevant markers in googlemaps.js</li>
					<li>get location and scale automatically from a list of points</li>
					<li>get current viewver`s location</li>
				</ul>
			</li>
			<li><a href="{{ url_for('.stage02') }}">stage 2 (current, uncompleted)</a>
			    <ul>
					<li>added REST api for <a href="api/collections">collections of POIs</a> and <a href="api/pois/collection 1">POIs within designated collection </a></li>
					<li>implement AJAX/Jquery to display and select/add collections</li>
					<li>implement AJAX/Jquery to display and update/add/delete points</li>
					<li>connect to sql db and non sql (mongoDB through pymongo. not ready yet. see file main-nonsql.py)</li>
					<li>add coord input windows</li>
				</ul>
			</li>
			</ul>
			<ul>TODO:
				<li>add button to search</li>
				<li>add header, left and right columns, footer</li>
				<li>make-up style.css</li>
				<li>add possibility to add route points</li>
				<li>add view control for adding/deleting route points</li>
				<li>make a possibility to use other map apis (bing, yandex, here, OSM, Wikimapia, etc.)</li>
			</ul>
		</p>
</body>
</html>