table tr .edit {
	display: none;
}
table tr.edit .edit{
	display: initial;
}
table tr.edit .noedit{
	display: none;
}
body div .edit{
	display: none;
}
body div.edit .edit{
	display: initial;
}
body div.edit .noedit{
	display: none;
}