<!doctype html>
<html>
<title>Map view page</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='googlemap.js') }}"></script>
<!--
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"></link>
-->
</head>
<body>
  <h1>Map view - {{ name }}</h1>
  
  <!-- collections -->
  {% block collection %}
  {% endblock collection %}
 
  <!-- pois -->
  <div id="poi_list" hidden></div>
  
  <table id="poi_list_show">
    {% if poi_list %}
	  <tr><th>#</th><th>Name</th><th>Longitude</th><th>Latitude</th><th>Type</th><th>SubType</th></tr>
	  {% set ind = 0 %}
	  {% for poi in poi_list %}
	  {% set ind = ind+1 %}
	  <tr>><td>{{ ind }}</td><td>{{ poi['poi_name'] }}</td><td>{{ poi['lng'] }}</td><td>{{ poi['lat'] }}</td><td>{{ poi['type'] }}</td><td>{{ poi['subtype'] }}</td></tr>
	  {% endfor %}
	{% endif %}
  </table>
  <div id="test" hidden></div>

  <p id="new_poi" hidden>
    <input id="new_poi_name" value="Enter new point name.." onfocus="if (this.value == 'Enter new point name..') this.value=''"  />
    <input id="lat"  value="Latitude.." onfocus="if (this.value == 'Latitude..') this.value=''"  />
    <input id="lon" value="Longitude.." onfocus="if (this.value == 'Longitude..') this.value=''"  />
    <input id="type" value="Type.." onfocus="if (this.value == 'Type..') this.value=''"  />
    <input id="subtype" value="Subtype.." onfocus="if (this.value == 'Subtype..') this.value=''"  />
    <button id="add-poi">Add</button>
  </p>

  <!-- map -->  
  <div id="map" style="width:700px;height:500px;"></div>		
</body>
</html>